---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import { getAvailableCoffees } from "../services/coffees";

const coffees = await getAvailableCoffees();
---

<Layout title="Coffee Listing Page">
  <main class="flex items-center justify-center">
    <Container coffees={coffees} />
  </main>
</Layout>
