---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Coffee Listing Page">
  <main class="flex items-center justify-center">
    <Container />
  </main>
</Layout>
