---
interface Props {
	price: string
	class: string
}

const { price } = Astro.props
---

<div class:list={Astro.props.class}>
	<p>{price}</p>
</div>

<style>
	div {
		color: var(--bg-container);
		background-color: var(--green);
		border-radius: 5px;
	}
</style>
